@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: bold;
}
body{
  background: black;
}
.number {
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: red;
  display: inline-block;
}
.textTransform__btn:hover{
  cursor: pointer;
}
h1 {
  font-family: "Montserrat", serif;
  font-weight: lighter;
}
.refresh__btn {
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #101010;
  background-color: #1cef5b;
  border-radius: 1.563rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  width: 8.125rem;
  height: 2.75rem;
  transition: 1s ease-in;
  position: absolute;
  top: 25px;
  left: 100px;
  z-index: 3;
}
.refresh__btn:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 10px 12px;
  cursor: pointer;
}

.invert__btn {
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #101010;
  background-color: pink;
  border-radius: 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  width: 11.88rem;
  height: 2.75rem;
  transition: 1s ease-in;
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 3;
}
.invert__btn:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 10px 12px;
  cursor: pointer;
}
.changeVid__btn {
  position: absolute;
  top: 175px;
  left: 70px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #101010;
  background-color: orange;
  border-radius: 1.563rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  width: 11.88rem;
  height: 2.75rem;
  transition: 1s ease-in;
  z-index: 3;
}
.changeVid__btn:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 10px 12px;
  cursor: pointer;
}
.otherVid {
  width: 93.75rem;
  height: 37.5rem;
  background-color: black;
  position: absolute;
  top: 0px;
}
.content__video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.myVideo {
  background: black;
  display: none; /*Pour la cacher lorsqu'on raffraichit la page*/
  width: 93.75rem;
  height: 37.5rem;
}

.textTransform__btn {
  position: absolute;
  top: 25px;
  left: 1250px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: #101010;
  background-color: yellow;
  border-radius: 1.563rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  width: 11.88rem;
  height: 2.75rem;
  transition: 1s ease-in;
  z-index: 3;
}

.vidMask,
.txtMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.vidMask {
  object-fit: cover;
  
}

.txtMask {
  display: block;
  font-size: 20vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 100vh;
  text-transform: uppercase;
  text-align: center;
  background: white;
  mix-blend-mode: screen;
}

.top {
  mix-blend-mode: darken;
  display: none;
}
.top .txtMask {
    background: black;
    color: white;
  }
}
